@media (max-width: 655px) {
  .title-header {
    p {
      font-size: 1.5rem;
    }
  }
  .card {
    min-width: 0;
  }
  header {
    #logo {
      padding: 1rem;
    }
    nav {
      display: none;
    }
    #navArea {
      width: 2.7rem;
      height: 2rem; // expand to 15rem
      justify-content: space-between;
      padding: 0.5rem 0;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      position: fixed;
      right: -5px;
      top: 1.5rem;
      z-index: 100;
      transition: $normal-transition;
      &.active {
        height: 15rem;
      }
      #navBtn,
      .nav-icon {
        width: 2.5rem;
        height: 2rem;
      }
      #navBtn {
        .line {
          width: 1rem;
          height: 2px;
          background-color: $color-line;
          transition: $normal-transition;
          &::before,
          &::after {
            display: block;
            position: relative;
            content: "";
            width: 1rem;
            height: 2px;
            background-color: $color-line;
          }
          &::before {
            bottom: 7px;
          }
          &::after {
            top: 6px;
          }
        }
        &.active {
          .line {
            background-color: $button-color-hover;
            transform: rotate(45deg);
            width: 1.5rem;
            &:before {
              display: none;
            }
            &:after {
              background-color: $button-color-hover;
              transform: rotate(90deg);
              top: 0;
              width: 1.5rem;
            }
          }
        }
      }
      .nav-icon {
        opacity: 0.4;
        &.sub-active {
          opacity: 0.6;
        }
        &.active {
          opacity: 1;
        }
      }
    }

    #scrollBtn {
      width: 3rem;
      height: 3rem;
    }

    #banner {
      margin: 2rem auto;
    }

    #intro {
      #intro-cards {
        .intro-card {
          display: none;
        }
      }
      #all-intro {
        width: 50vw;
        display: block;
      }
      #license-area {
        min-width: 50vw;
        ul {
          display: none;
        }
        #licenses {
          align-items: flex-start;
        }
      }
    }
  }

  main {
    .container {
      width: 90vw;
    }
    #portfolio {
      #pf-cards {
        width: 100%;
        .pf-card {
          width: 100%;
          min-width: $pf-card-width-s;
        }
      }
    }
  }

  footer {
    // Same as medium-device
    #contact {
      form {
        margin-right: 1rem;
      }
      #information {
        margin-top: 1.5rem;
        .info {
          margin: 0;
          a {
            p {
              display: none;
            }
          }
        }
      }
    }
  }
}
